.languageChangeWrapper{
    max-width: 86.93%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}

.languageChangeSelect{
    background: rgb(88, 86, 86);
    color: #ffff;
    font-family: "SF Pro";
    border: none;
    border-radius: 5px;
    cursor: pointer;
}