.featuresWrapper{
    max-width: 86.93%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featuresItem{
    width: 32.5%;
    height: 139px;
    display: flex;
    align-items: flex-end;
    border-radius: 12px;
}

.first{
    background-image: image-set("../../../assets//images/featuresImg/unlimited.png" 1x, "../../../assets//images/featuresImg/unlimited@2x.png" 2x);
    background-size: cover;
}

.second{
    background-image: image-set("../../../assets//images/featuresImg/exclusive.png" 1x, "../../../assets//images/featuresImg/exclusive@2x.png" 2x);
    background-size: cover;
}

.third{
    background-image: image-set("../../../assets//images/featuresImg/avatars.png" 1x, "../../../assets//images/featuresImg/avatars@2x.png" 2x);
    background-size: cover;
}

.featuresText{
    color: #FFFFFF;
    font-family: "SF Pro";
    font-weight: 400;
    font-size: 12px;
    line-height: 14.32px;
    margin:0 0 12px 9px;
}

.secondText{
    width: 75%;
}

.smallText{
    width: 90%;
}